<footer class="footer" data-controller="facts">
  <p>
    Первый «Тетрис» был написан на Паскале для допотопной «Электроники-60».
  </p>
  <p>
    В Книге рекордов Гиннесса о «Тетрисе» девять записей.
    В том числе «Самое длительное тюремное заключение благодаря компьютерной игре»
  </p>
  <p>
    Сейчас в игру тетрис играют на пятидесяти языках и полусотне платформ,
    в том числе на мобильниках, плеерах, на калькуляторе и даже осциллоскопе
  </p>
  <p>
    Название легендарной игры «Тетрис» - это идея Алексея Пажитнова,
    ее советского изобретателя - гибрид слов «тетрамино» и «теннис».
  </p>
  <p>
    «Тетрис» стал первой игрой, вывезенной из-за «железного занавеса»,
    за что государство подарило ее изобретателю, Алексею Пажитнову, 286-й компьютер и выдало квартиру.
  </p>
  <p>
    В качестве саундтрека к «Тетрису» звучали «Коробейники»,
    композиции немецкой группы Scooter, сюиты Баха и др.
  </p>
  <p>
    По данным Tetris Friends Online Games, в игру онлайн играют более миллиона раз в день.
  </p>
  <p>
    Самая крупная игра в Tetris была проведена в Голландии.
    Студенты Делфтского технического университета установили цветные лампы на подоконник каждой
    комнаты 96-метрового здания,
    а затем начали их зажигать и гасить, имитируя движение падающих блоков
  </p>
  <p>
    От «Тетриса» умнеют - это доказали исследователи,
    заставившие группу подростков играть по полчаса в день в течение трех месяцев.
    Сканирование показало структурные изменения в тех частях мозга, которые отвечали за движение,
    скорость реакции, критическое мышление и способность производить вычисления.
  </p>
  <p>
    Bo всех документах об игре фигурки «Тетриса» называются I, J, L, О, S, Т, и Z - по
    буквам латинского алфавита, на которые они больше всего похожи.
    Если вы роняете тетронимос I и убираете четыре линии сразу - ваш ход и называется «тетрис»
  </p>
  <p>
    По мотивам легендарной игры «Тетрис» в Японии сделали ставшую хитом телеигру Brain Wall.
  </p>
  <p>
    В 1996 году переигравшие ввели термин «тетрис-эффект» - так стали называть легкие
    галлюцинации от «игрового передоза». В этом состоянии люди автоматически складывают
    в воображаемые линии блоки окон в домах,
    тележки в супермаркетах и столовые приборы в кафе.
  </p>
  <p>
    Последняя созданная изобретателем Пажитновым игра - Hexic - затягивает не меньше «Тетриса».
  </p>
  <p>
    Ни один человек не может играть в «Тетрис» вечно!
  </p>
  <p>
    Игра в «Тетрис» является NP-сложной задачей, то есть для нее не
    существует эффективного алгоритма решения, по крайней мере,
    его нельзя найти за полиноминальное – обозримое – время.
  </p>
</footer>
</div>
</body>
</html>
