{{> partials/header pageTitle="Tetris"}}
<section class="main">
  <canvas class="main__field-game"
          width='480px'
          height='720px'
          id="game"
          data-tetris-target="canvas">
  </canvas>
</section>
{{> partials/footer}}
