{{> partials/header pageTitle="Tetris"}}
<section class="main">
  <div class="main__count">
    <p class="main__count-item">Score: <span data-tetris-target="score">0</span></p>
    <p class="main__count-item">Lines: <span data-tetris-target="lines">0</span></p>
    <p class="main__count-item">Blocks: <span data-tetris-target="blocks">0</span></p>
  </div>
  <div class="main__wrapper-game">
    <canvas class="main__field-game" id="game" data-tetris-target="canvas"
            width='480px'
            height='720px'>
    </canvas>
    <div class="main__game-over" data-tetris-target="loss">
      <p>GAME OVER!</p>
    </div>
  </div>
  <div class="main__wrapper-next">
    <canvas class="main__next" id="game" data-tetris-target="next"
            width='280px'
            height='360px'>
    </canvas>
  </div>
</section>
{{> partials/footer}}
