@use '../variables' as *;

.header {
  background: rgb($color-black, 0.64);
  color: $color-white;
  padding: 12px 0;
  text-align: center;
}

.header__title {
  font-size: 72px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#FC3F5B, #FEA216, #61E646, #00E5F7, #F230F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
